{% extends "base_article.html" %}
{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; Author: {{ article.author }}{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="text-center article-header">
		<h1 itemprop="name headline" class="article-title">{{ article.title }}</h1>
		<span>
			<div itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name">{{article.author}}</span> 
				&nbsp;&#124;&nbsp;
				<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
				&nbsp;|&nbsp;
				<span><a href="{{ SITEURL }}/{{ article.slug }}.txt" title="Raw Markdown for {{ article.title}}">raw</a></span>
			</div>
		</span>
		
	</div>
	{% if article.category %}
	<div>
		category:
		<span itemprop="articleSection">
			<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
		</span>
	</div>
	{% endif %}
	
	{% if article.tags %} 
	<div>
		tags:
		{% for tag in article.tags %}
		<span itemprop="keywords">
			<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag"> {{ tag }}</a>&nbsp;&nbsp;
		</span>
		{% endfor %}
	</div>
	{% endif %}
	<div itemprop="articleBody" class="article-body">{{ article.content }}</div>
	<hr>
	{% include "twitter.html" %}

	{% if USE_COMMENTS %}
	<h2>Comments</h2>
	{% endif %}
	
	{% include 'disqus.html' %}
</div>
{% endblock %}