{% extends "base_site.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
{% for article in articles_page.object_list %}
<!-- <div class="article" itemscope itemtype="http://schema.org/BlogPosting" style="margin-bottom:1em;"> -->
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="row">
		<div class="col-md-10">
			<a href="{{ SITEURL }}/{{ article.url }}">
				<h3 itemprop="name headline">{{ article.title }}</h3>
			</a>
		</div>
		<div class="col-md-2">
			<h3 class="text-right">
				<small>
					<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
				</small>
			</h3>
		</div>
	</div>
	
	{% if article.category %}
	posted in:&nbsp;
	<span itemprop="articleSection">
		<strong><a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a></strong>
	</span>
	{% endif %}
	{% if article.tags %} 
	&nbsp;&nbsp;&nbsp;tagged:&nbsp;
	{% for tag in article.tags %}
	<span itemprop="keywords">
		<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag"> {{ tag }}&nbsp;&nbsp;</a>
	</span>
	{% endfor %}
	{% endif %}
	
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h5>{{ article.summary }}</h5>
			{% if article.has_summary %}	
			<strong>there's more!  <a href="{{ SITEURL }}/{{ article.url }}">continue reading...</a></strong>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %} {# For article #}
{% include 'pagination.html' %}
{% endif %} {# If articles #}
{% endblock content %}

